.container{
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.saludo{
    font-weight: bold;
    background: radial-gradient(circle, #1DADFF, #00D8FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 100px;
}
.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    background-color: #252627;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}
.li-individual{
    text-decoration: none;
    margin: 0 10px;
    color: white;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}
.logout {
    border: none;
    padding: 0 5px;
    background-color: transparent;
    color: #1DADFF;
}
