.padre{
    display: flex;
    align-items: center;
    height: 100%;
}
.cajalogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}
.tamaño-imagen{
    width: 100%;
    max-width: 800px;
    margin-top: 50px;
}
.estilo-profile{
    width: 100%;
    max-width: 150px;
    border-radius: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajatexto{
    background-color: white;
    border-color: slategray;
    border-radius: 15px;
    width: 100%;
    min-width: 300px;
    padding: 15px;
    border-width: 1px;
    margin-bottom: 10px;
}
.cajatexto:focus{
    outline: 1px solid #1DADFF;
    box-shadow: 0 0 10px #1DADFF
}
.btnform {
    background-color: #1DADFF;
    border-color: slategray;
    border-radius: 15px;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-width: 1px;
    margin-bottom: 20px;
    color: white;
}
.texto {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnswitch{
    background-color: #1DADFF;
    border-radius: 15px;
    padding: 8px;
    border-width: 0px;
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.datosfail {
    text-align: center;
    font-size: 16px;
    color: red;
}
