.problematica {
    display: flex;
    justify-content: space-between;
    /* margin: 20px 0; */
}
.problematica button {
    width: 150px;
    height: 35px;
    border-radius: 5px;
}
.problematicainfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 200px;
    background-color: #DBE9EE;
    padding: 20px 170px;
}
